.humburger-btn {
    display: none;
}

.humburger-btn__img {
    width: 20px;
    height: 17px;  
    filter: invert(99%) sepia(89%) saturate(1331%) hue-rotate(349deg) brightness(107%) contrast(92%);
}


@media only screen and (max-width: 640px) {
  .humburger-btn {
      display: block;
      background-color:transparent;
      border: none;
  }
}