.nav-question-wrapper {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
    .nav-question-wrapper {
        display: none;
    }
}